@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    line-height: 1.25;
}

.arrow {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    
    @media (max-width: 800px){
        padding: 4px
    }
}


.arrow-left {
    border: solid hsl(200, 100%, 30%);
    border-width: 0 5px 5px 0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

}

.arrow-right {
    border: solid hsl(271, 70%, 40%);
    border-width: 0 5px 5px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
}

.content {
    font-family: 'Noto Serif', Arial, Helvetica, sans-serif;
}

.header {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}